<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>医护人员信息</title>
    <link rel="stylesheet" th:href="@{../../bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{../../bootstrap/css/bootstrap-grid.min.css}" />
    <link rel="stylesheet" th:href="@{../../bootstrap/css/index.css}" />
    <!--<link rel="stylesheet" th:href="@{../../bootstrap/css/leftmenu.css}" />-->
    <script type="text/javascript" th:src="@{../../bootstrap/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{../../bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>

  <div th:fragment="madical_fragment" class="container">
      <div style="height: 30px; margin-bottom: 10px; margin-top: -5px;">
          <div class="headerLine"></div>
          <div class="headerLabel">医护人员</div>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#medical_modal">添加医护人员</button>
      </div>
      <table class="table table-bordered table-hover">
          <thead>
          <tr>
              <th>姓名</th>
              <th>注册码</th>
              <th>手机号</th>
              <th>性别</th>
              <th>是否接收消息</th>
              <th>空间</th>
              <th>所属项目</th>
              <th>备注</th>
              <th>操作</th>
          </tr>
          </thead>
          <tbody id="medical_tbody">

          </tbody>
          <tfoot id="medical_tfoot">
          <tr>
              <td id="medical_page" colspan="9" style="text-align: right"></td>
          </tr>
          </tfoot>
      </table>




      <!-- 模态框（Modal） -->
      <div class="modal" id="medical_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog" style="width: 800px;">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title" id="myModalLabel">添加医护人员</h4>
                  </div>
                  <div class="modal-body">
                      <form id="medical_form" role="form" class="form-inline" method="post" th:action="@{/task/add}" onsubmit="">
                          <div class="container">
                              <div class="addTitle">
                                  <div class="leftImg"></div>
                                  <span>基本信息</span>
                              </div>
                              <div class="row">
                                  <div class="form-group addTaskForm col-md-6">
                                      <label for="medical_project" class="control-label text-right text-nowrap col-md-4">项目：</label>
                                      <select id="medical_project" style="width: 200px;" class="form-control col-md-8">
                                      </select>
                                  </div>
                                  <div class="form-group addTaskForm col-md-6">
                                      <label for="medical_space" class="control-label text-right text-nowrap col-md-4">空间：</label>
                                      <select id="medical_space" style="width: 200px;" class="form-control col-md-8">

                                      </select>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="form-group addTaskForm col-md-6">
                                      <label for="is_delete" class="control-label text-right text-nowrap col-md-4">是否删除：</label>
                                      <input id="is_delete"  class="form-control col-md-8" type="checkbox" />
                                  </div>
                              </div>
                              <div class="addTitle">
                                  <div class="leftImg"></div>
                                  <span>个人信息</span>
                              </div>

                              <div class="row">
                                  <div class="form-group addTaskForm col-md-6">
                                      <label for="medical_name" class="control-label text-right text-nowrap col-md-4"
                                             style="padding-left: 0px;">姓名：</label>
                                      <input id="medical_name" type="text" style="width: 200px;" required class="col-md-8 form-control"/>
                                  </div>
                                  <div class="form-group addTaskForm col-md-6">
                                      <label for="medical_sex" class="control-label text-right text-nowrap col-md-4"
                                      >性别：</label>
                                      <select id="medical_sex" style="width: 200px;" class="form-control col-md-8">
                                          <option value="0">未指定</option>
                                          <option value="1">男</option>
                                          <option value="2">女</option>
                                      </select>
                                  </div>
                              </div>
                                  <div class="row">
                                      <div class="form-group addTaskForm col-md-6">
                                          <label for="medical_phone" class="control-label text-right text-nowrap col-md-4"
                                                 style="padding-left: 0px;">联系电话：</label>
                                          <input id="medical_phone" type="text" style="width: 200px;" required class="col-md-8 form-control"/>
                                      </div>
                                      <div class="form-group addTaskForm col-md-6">
                                          <label for="medical_remark" class="control-label text-right text-nowrap col-md-4"
                                                 style="padding-left: 0px;">备注：</label>
                                          <input id="medical_remark" type="text" style="width: 200px;" required class="col-md-8 form-control"/>
                                      </div>
                              </div>
                              <div class="row">
                                  <div class="form-group addTaskForm col-md-6">
                                      <label for="is_msg" class="control-label text-right text-nowrap col-md-4">是否接收消息：</label>
                                      <input id="is_msg"  class="form-control col-md-8" type="checkbox" />
                                  </div>
                              </div>
                          </div>
                          <input type="hidden" id="medical_id" />
                      </form>
                  </div>
                  <div class="modal-footer align-content-center">
                      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                      <button type="button" id="medical_submit" class="btn btn-primary">提交更改</button>
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->

       <!--   <div id="myAlert" class="alert alert-success" aria-hidden="true">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              <strong>成功！</strong>保存成功。
          </div>
          <div id="myAlert2" class="alert alert-warning" aria-hidden="true">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              <strong>警告！</strong>保存失败。
          </div>-->

      </div>

      <script type="text/javascript">

          $(function () {
              queryMedicalCares();
              publicQueryProject('medical_project',  $('#current_worker_id').val());
              $('#medical_submit').click(function () {
                   var postData = {
                       'medicalName': $('#medical_name').val(),
                       'mobile': $('#medical_phone').val(),
                       'spaceId': $('#medical_space').val(),
                       'spaceName': $('#medical_space').opTxt(),
                       'proId': $('#medical_project').val(),
                       'proName': $('#medical_project').opTxt(),
                       'receiveMsg': $('#is_msg').is(':checked')? 1: 0,
                       'state': $('#is_delete').is(':checked')? 0: 1,
                       'medicalSex': $('#medical_sex').val(),
                       'remark': $('#medical_remark').val(),
                       'id': $('#medical_id').val()
                   };

                   var id = $('#medical_id').val();
                   if(id == ''){
                       $.sendPost('../../care/add', postData, medicalSaveOrUpdate);
                   }else{
                       $.put('../../care/update', postData, medicalSaveOrUpdate);
                   }


              });
              publicQuerySpaces([[${userInfo.proId}]], 'medical_space');

              $('#medical_modal').on('shown.bs.modal', function () {

              }).on('hide.bs.modal', function () {
                  $('#medical_form')[0].reset();
                  $('#medical_id').val('');
              });
              
              $('#medical_project').unbind('change').change(function () {
                  var val = $(this).val();
                  if(val === ''){
                     $('#medical_space').html('');
                  }else{
                      publicQuerySpaces(val, 'medical_space');
                  }

              });

          });

          function medicalSaveOrUpdate(data, status) {
              if(status && data['success']){
                  alert('保存成功');
                  $('#medical_form')[0].reset();
                  $('#medical_modal').modal('hide');
                  queryMedicalCares();
              }else{
                  alert('保存失败');
              }
          }

          function queryMedicalCares(currentPage) {
              currentPage = currentPage || 1;
              $.get('../../care/queryByPage/' + currentPage + '/20', function(res, status){
                  console.log(res + '===' + status);
                  if(res['success'] === true){
                      var transType = res['data']['list'];
                      if(transType != null && transType){
                          var html = [];
                          $.each(transType, function (index, type) {
                              html.push('<tr><td>' + type['medicalName'] + '</td>');
                              html.push('<td>' + type['medicalNumber'] + '</td>');
                              html.push('<td>' + type['mobile'] + '</td>');
                              html.push('<td>' + (type['medicalSex'] === 1? '男': '女') + '</td>');
                              html.push('<td>' + (type['receiveMsg'] === 1? '是': '否') + '</td>');
                              html.push('<td>' + type['spaceName'] + '</td>');
                              html.push('<td>' + type['proName'] + '</td>');
                              html.push('<td>' + type['remark'] + '</td>');
                              html.push('<td><button type="button" value="'+ type['id'] + '" class="btn btn-xs btn-primary medical_edit">编辑</button>' +
                                  '<button type="button" value="'+ type['id'] +'" style="margin-left: 10px;" class="medical_delete btn btn-xs btn-danger">删除</button></td></tr>');
                          });
                          $('#medical_tbody').html(html.join(''));
                          getMyMindMapPage(currentPage, res['data']['pageCount'], 'medical_page', queryMedicalCares);
                          $('.medical_edit').unbind('click').click(medicalEdit);
                          $('.medical_delete').unbind('click').click(medicalDelete);
                      }
                  }
              });
          }


          function medicalEdit() {
              var attr = $(this).attr('value');

              $.sendGet('../../care/query/' + attr, null, function (res, status) {
                  if(res['success'] && status){
                      var data = res['data'];
                          $('#medical_name').val(data['medicalName']);
                          $('#medical_phone').val(data['mobile']);
                           $('#medical_space').val(data['spaceId']);
                           $('#medical_project').val(data['proId']);
                          $('#is_msg').prop('checked', data['receiveMsg'] == 1);
                          $('#is_delete').prop('checked', data['isDeleted'] == 1);
                           $('#medical_sex').val(data['medicalSex']);
                          $('#medical_remark').val(data['remark']);
                          $('#medical_modal').modal('show');
                          $('#medical_id').val(data['id']);
                  }
              });
          }

          function medicalDelete() {
              if(confirm('确认是否删除')){
                  var attr = $(this).attr('value');
                  $.delete('../../care/delete/' + attr, null, function (res, status) {
                      if(res['success'] && status){
                          alert('删除成功');
                          queryMedicalCares(1);
                      }else{
                          alert('删除失败');
                      }
                  } );
              }
          }

      </script>
  </div>

</body>
</html>