<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="add_task_dailog">

<!-- 模态框（Modal） -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">添加运送任务</h4>
            </div>
            <div class="modal-body">
                <form id="addTaskForm" role="form" class="form-inline" method="post" th:action="@{/task/add}" onsubmit="">
                    <div class="container">
                        <div class="addTitle">
                            <div class="leftImg"></div>
                            <span>基本信息</span>
                        </div>
                        <div class="row">
                            <div class="form-group addTaskForm col-md-6">
                                <label for="start" class="control-label col-md-4 text-nowrap text-right">出发地：</label>
                                <select id="start" style="width: 200px;" class="col-md-8 form-control">
                                    <option value="1">特一</option>
                                    <option value="1">特一</option>
                                    <option value="1">特一</option>
                                </select>
                            </div>
                            <div class="form-group addTaskForm col-md-6">
                                <label for="transType" class="control-label col-md-4 text-nowrap text-right">运送类型：</label>
                                <select id="transType" style="width: 200px;" class="col-md-8 form-control">

                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group addTaskForm col-md-6">
                                <label for="destination" class="control-label text-right text-nowrap col-md-4">目的地：</label>
                                <select id="destination" style="width: 200px;" class="form-control col-md-8">
                                    <option value="1">特一</option>
                                    <option value="1">特一</option>
                                    <option value="1">特一</option>
                                </select>
                            </div>

                            <div class="form-group addTaskForm col-md-6">
                                <label for="worker" class="control-label text-right text-nowrap col-md-4">运送员：</label>
                                <select id="worker" style="width: 200px;" class="form-control col-md-8">
                                    <option value="1">特一</option>
                                    <option value="1">特一</option>
                                    <option value="1">特一</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group addTaskForm col-md-6">
                                <label for="planStartTime" class="control-label text-right text-nowrap col-md-4"
                                       style="padding-left: 0px; margin-left: -2px;">预期开始时间：</label>
                                <div class="input-group date col-md-8" id="datetimepicker2">
                                    <input type='text' class="form-control" id="planStartTime" />
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group addTaskForm col-md-6">
                                <label for="finishTime" class="control-label text-right text-nowrap col-md-4"
                                       style="padding-left: 0px; margin-left: -20px;">预期完成用时(分)：</label>
                                <input id="finishTime" type="number" style="width: 200px; margin-left: 20px;" required class="col-md-8 form-control"/>
                            </div>
                        </div>

                        <div class="row">


                            <div class="form-group addTaskForm col-md-6">
                                <label for="planTime" class="control-label text-right text-nowrap col-md-4">预约时间：</label>
                                <input id="planTime"  type="number" style="width: 200px;" class="form-control col-md-8"/>
                            </div>

                            <div class="form-group addTaskForm col-md-6">
                                <label for="priority" class="control-label text-right text-nowrap col-md-4">优先级：</label>
                                <select id="priority" style="width: 200px;" class="col-md-8 form-control">
                                    <option value="1">特一</option>
                                    <option value="1">特一</option>
                                    <option value="1">特一</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group addTaskForm col-md-6">
                                <label for="transTool" class="control-label text-right text-nowrap col-md-4">运送工具：</label>
                                <select id="transTool" style="width: 200px;" class="form-control col-md-8">
                                    <option value="1">特一</option>
                                    <option value="1">特一</option>
                                    <option value="1">特一</option>
                                </select>
                            </div>

                            <div class="form-group addTaskForm col-md-6">
                                <label for="realNumber" class="control-label text-right text-nowrap col-md-4">实际数量：</label>
                                <input type="number" id="realNumber" style="width: 200px;" class="form-control col-md-8"/>
                            </div>
                        </div>

                        <div class="addTitle">
                            <div class="leftImg"></div>
                            <span>病人信息</span>
                        </div>

                        <div class="row">
                            <div class="form-group addTaskForm col-md-6">
                                <label for="patientName" class="control-label text-right text-nowrap col-md-4">病人姓名：</label>
                                <input id="patientName" style="width: 200px;" class="form-control col-md-8"/>
                            </div>

                            <div class="form-group addTaskForm col-md-6">
                                <label for="sex" class="control-label text-right text-nowrap col-md-4">性别：</label>
                                <select id="sex" style="width: 200px;" class="form-control col-md-8">
                                    <option value="0">未知</option>
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group addTaskForm col-md-6">
                                <label for="age" class="control-label text-right text-nowrap col-md-4">年龄：</label>
                                <input id="age" type="number" style="width: 200px;" class="form-control col-md-8" />
                            </div>

                            <div class="form-group addTaskForm col-md-6">
                                <label for="bedNumber" class="control-label text-right text-nowrap col-md-4">床号：</label>
                                <input type="text" id="bedNumber" style="width: 200px;" class="form-control col-md-8"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group addTaskForm col-md-6">
                                <label for="hospNumber" class="control-label text-right text-nowrap col-md-4">住院号：</label>
                                <input id="hospNumber"  style="width: 200px;" class="form-control col-md-8">
                            </div>

                            <div class="form-group addTaskForm col-md-6">
                                <label for="remark" class="control-label text-right text-nowrap col-md-4">描述：</label>
                                <input type="text" id="remark" style="width: 200px;" class="form-control col-md-8"/>
                            </div>
                        </div>
                        <input type="hidden" id="createId" th:value="${userInfo.id}" />
                        <input type="hidden" id="createName" th:value="${userInfo.workerName}" />
                        <input type="hidden" id="proId" th:value="${userInfo.proId}">
                        <input type="hidden" id="proName" th:value="${userInfo.proName}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="add_task_submit" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

    <script type="text/javascript">

        $(function () {
            /**
             * 当模态框显示完成后加载数据字典
             */
            $('#myModal').on('shown.bs.modal', function () {
                var $this = $(this);
                var dialog = $this.find('.modal-dialog');

                //此种方式，在使用动画第一次显示时有问题
                //解决方案，去掉动画fade样式
                var top = ($(window).height() - dialog.height()) / 2;
                dialog.css({
                    marginTop: top
                });

                var proId = [[${userInfo.proId}]];
                querySpaces(proId);
                queryTaskType(proId);
                queryTools(proId);
                queryWorkers(proId);
            });


            $('#datetimepicker2').datetimepicker({
                format: 'yyyy-mm-dd HH:mm:ss',
                language:  'zh-CN'
            });

            addChangeToSelect();

            $('#add_task_submit').click(submitAddTask);

        });


        function submitAddTask() {
            var data = {
                createId: $('#createId').val(),                //创建者ID
                createName: $('#createName').val(),            //创建者姓名
                taskTypeId: $('#transType').attr('val'),       //运送类型ＩＤ
                taskTypeName: $('#transType').attr('txt'),   　//运送类型名称
                setOutPlaceId: $('#start').attr('val'),        //出发地ＩＤ
                setOutPlaceName: $('#start').attr('txt'),      //出发地名
                destinationId: $('#destination').attr('val'),  // 目的地ID
                destinationName: $('#destination').attr('txt'), //目的地
                planStartTime: $('#planStartTime').val(),       //计划开始时间
                finishTime: $('#finishTime').val(),             //完成时间
                bookTime: $('#planTime').val(),                 //预约时间
                priority: $('#priority').val(),                 //优先级
                toolId: $('#transTool').attr('val'),            //运送工具ID
                toolName: $('#transTool').attr('txt'),          //运送工具名
                workerId: $('#worker').attr('val'),             //运送员
                workerName: $('#worker').attr('txt'),           //运送员名
                taskDesc: $('#remark').val(),                   //任务描述
                proId: $('#proId').val(),                       //所属项目ID
                proName: $('#proName').val(),                   //所属项目
                actualCount: $('#realNumber').val(),            //实际数量
                patientName: $('#patientName').val(),           //病人姓名
                bedNumber: $('#bedNumber').val(),               //床位
                sex: $('#sex').val(),                           //性别
                number: $('#hospNumber').val(),                 //住院号
                age: $('#age').val()                            //年龄
            };

            $.sendPost('../../task/add', data, function (data, status) {
                if(status && data['success']){
                    alert('添加成功');
                    $('#addTaskForm')[0].reset();
                    $('#myModal').modal('hide');
                }else{
                    alert('添加失败');
                }
            })

        }



        function queryTools(proId) {
            $.sendGet('../../tool/query', {'proId': proId}, function (res, status) {
                if(status && res['success']){
                    var workTools = res['data'];
                    if(workTools != null){
                        var html = ['<option value="">--请选择--</option>'];
                        $.each(workTools, function(index, tool){
                            var val = tool['id'] + '-' + tool['toolName'];
                            html.push('<option value="'+ val +'">' + tool['toolName'] + '</option>');
                        });
                        $('#transTool').html(html.join(''));
                    }

                }
            });
        }

        function queryTaskType(proId) {

            $.sendGet('../../type/query', {'proId': proId}, function (res, status) {
                if(status && res['success']){
                    var transType = res['data'];
                    if(transType != null && transType){
                        var html = ['<option value="">--请选择--</option>'];
                        $.each(transType, function (index, type) {
                            var val = type['id'] + '-' + type['typeName'];
                            html.push('<option value="' + val + '">' + type['typeName'] + '</option>');
                        });
                        $('#transType').html(html.join(''));
                    }
                }
            });
        }

        function querySpaces(proId) {
            $.sendGet('../../space/query', {proId: proId}, function (res, status) {
                if(status && res['success']){
                    var transType = res['data'];
                    if(transType != null && transType){
                        var html = ['<option value="">--请选择--</option>'];
                        $.each(transType, function (index, type) {
                            var val = type['id'] + '-' + type['spaceName'];
                            html.push('<option value="' + val + '">' + type['spaceName'] + '</option>');
                        });
                        $('#start').html(html.join(''));
                        $('#destination').html(html.join(''));
                    }
                }
            });
        }

        function queryWorkers(proId) {
            $.sendGet('../../user/query', {'proId': proId}, function (res, status) {
                if (status && res['success']) {
                    var transType = res['data'];
                    if (transType != null && transType) {
                        var html = ['<option value="">--请选择--</option>'];
                        $.each(transType, function (index, type) {
                            var val = type['id'] + '-' + type['workerName'];
                            html.push('<option value="' + val + '">' + type['workerName'] + '</option>');
                        });
                        $('#worker').html(html.join(''));
                    }
                }
            });
        }



        function addChangeToSelect() {
            $('select').change(function () {
                var val = $(this).val();
                if (val.indexOf('-') > 0){
                    var split = val.split('-');
                    $(this).attr({
                        val: split[0],
                        txt: split[1]
                    });
                }
            });
        }

    </script>

</div>
<!-- /.modal -->

</body>
</html>