<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.hosp.www.dao.mapper.PatientInfoMapper">
  <resultMap id="BaseResultMap" type="cn.com.hosp.www.dao.entry.PatientInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="patient_number" jdbcType="VARCHAR" property="patientNumber" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="bed_number" jdbcType="VARCHAR" property="bedNumber" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="number" jdbcType="VARCHAR" property="number" />
  </resultMap>
  <sql id="Base_Column_List">
    id, patient_number, patient_name, bed_number, sex, age, number
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from patient_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from patient_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.com.hosp.www.dao.entry.PatientInfo">
    insert into patient_info (id, patient_number, patient_name, 
      bed_number, sex, age, number
      )
    values (#{id,jdbcType=BIGINT}, #{patientNumber,jdbcType=VARCHAR}, #{patientName,jdbcType=VARCHAR}, 
      #{bedNumber,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, #{age,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hosp.www.dao.entry.PatientInfo">
    insert into patient_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="patientNumber != null">
        patient_number,
      </if>
      <if test="patientName != null">
        patient_name,
      </if>
      <if test="bedNumber != null">
        bed_number,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="number != null">
        number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="patientNumber != null">
        #{patientNumber,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="bedNumber != null">
        #{bedNumber,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=BIT},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hosp.www.dao.entry.PatientInfo">
    update patient_info
    <set>
      <if test="patientNumber != null">
        patient_number = #{patientNumber,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        patient_name = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="bedNumber != null">
        bed_number = #{bedNumber,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hosp.www.dao.entry.PatientInfo">
    update patient_info
    set patient_number = #{patientNumber,jdbcType=VARCHAR},
      patient_name = #{patientName,jdbcType=VARCHAR},
      bed_number = #{bedNumber,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      age = #{age,jdbcType=INTEGER},
      number = #{number,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>