<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.hosp.www.dao.mapper.SpaceInfoMapper">
  <resultMap id="BaseResultMap" type="cn.com.hosp.www.dao.entry.SpaceInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="space_code" jdbcType="VARCHAR" property="spaceCode" />
    <result column="space_name" jdbcType="VARCHAR" property="spaceName" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="won_group" jdbcType="VARCHAR" property="wonGroup" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="pro_id" jdbcType="BIGINT" property="proId" />
    <result column="pro_number" jdbcType="VARCHAR" property="proNumber" />
    <result column="pro_name" jdbcType="VARCHAR" property="proName" />
    <result column="struct_id" jdbcType="BIGINT" property="structId" />
    <result column="struct_number" jdbcType="VARCHAR" property="structNumber" />
    <result column="struct_name" jdbcType="VARCHAR" property="structName" />
    <result column="job_type" jdbcType="BIT" property="jobType" />
    <result column="end_type_id" jdbcType="BIGINT" property="endTypeId" />
    <result column="end_type_name" jdbcType="VARCHAR" property="endTypeName" />
    <result column="batch_job_start" jdbcType="BIT" property="batchJobStart" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, space_code, space_name, floor, won_group, role_id, role_name, pro_id, pro_number, 
    pro_name, struct_id, struct_number, struct_name, job_type, end_type_id, end_type_name, 
    batch_job_start, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from space_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from space_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.com.hosp.www.dao.entry.SpaceInfo">
    insert into space_info (id, space_code, space_name, 
      floor, won_group, role_id, 
      role_name, pro_id, pro_number, 
      pro_name, struct_id, struct_number, 
      struct_name, job_type, end_type_id, 
      end_type_name, batch_job_start, remark
      )
    values (#{id,jdbcType=BIGINT}, #{spaceCode,jdbcType=VARCHAR}, #{spaceName,jdbcType=VARCHAR}, 
      #{floor,jdbcType=VARCHAR}, #{wonGroup,jdbcType=VARCHAR}, #{roleId,jdbcType=BIGINT}, 
      #{roleName,jdbcType=VARCHAR}, #{proId,jdbcType=BIGINT}, #{proNumber,jdbcType=VARCHAR}, 
      #{proName,jdbcType=VARCHAR}, #{structId,jdbcType=BIGINT}, #{structNumber,jdbcType=VARCHAR}, 
      #{structName,jdbcType=VARCHAR}, #{jobType,jdbcType=BIT}, #{endTypeId,jdbcType=BIGINT}, 
      #{endTypeName,jdbcType=VARCHAR}, #{batchJobStart,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hosp.www.dao.entry.SpaceInfo">
    insert into space_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="spaceCode != null">
        space_code,
      </if>
      <if test="spaceName != null">
        space_name,
      </if>
      <if test="floor != null">
        floor,
      </if>
      <if test="wonGroup != null">
        won_group,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="proId != null">
        pro_id,
      </if>
      <if test="proNumber != null">
        pro_number,
      </if>
      <if test="proName != null">
        pro_name,
      </if>
      <if test="structId != null">
        struct_id,
      </if>
      <if test="structNumber != null">
        struct_number,
      </if>
      <if test="structName != null">
        struct_name,
      </if>
      <if test="jobType != null">
        job_type,
      </if>
      <if test="endTypeId != null">
        end_type_id,
      </if>
      <if test="endTypeName != null">
        end_type_name,
      </if>
      <if test="batchJobStart != null">
        batch_job_start,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="spaceCode != null">
        #{spaceCode,jdbcType=VARCHAR},
      </if>
      <if test="spaceName != null">
        #{spaceName,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="wonGroup != null">
        #{wonGroup,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=BIGINT},
      </if>
      <if test="proNumber != null">
        #{proNumber,jdbcType=VARCHAR},
      </if>
      <if test="proName != null">
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="structId != null">
        #{structId,jdbcType=BIGINT},
      </if>
      <if test="structNumber != null">
        #{structNumber,jdbcType=VARCHAR},
      </if>
      <if test="structName != null">
        #{structName,jdbcType=VARCHAR},
      </if>
      <if test="jobType != null">
        #{jobType,jdbcType=BIT},
      </if>
      <if test="endTypeId != null">
        #{endTypeId,jdbcType=BIGINT},
      </if>
      <if test="endTypeName != null">
        #{endTypeName,jdbcType=VARCHAR},
      </if>
      <if test="batchJobStart != null">
        #{batchJobStart,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hosp.www.dao.entry.SpaceInfo">
    update space_info
    <set>
      <if test="spaceCode != null">
        space_code = #{spaceCode,jdbcType=VARCHAR},
      </if>
      <if test="spaceName != null">
        space_name = #{spaceName,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="wonGroup != null">
        won_group = #{wonGroup,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="proId != null">
        pro_id = #{proId,jdbcType=BIGINT},
      </if>
      <if test="proNumber != null">
        pro_number = #{proNumber,jdbcType=VARCHAR},
      </if>
      <if test="proName != null">
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="structId != null">
        struct_id = #{structId,jdbcType=BIGINT},
      </if>
      <if test="structNumber != null">
        struct_number = #{structNumber,jdbcType=VARCHAR},
      </if>
      <if test="structName != null">
        struct_name = #{structName,jdbcType=VARCHAR},
      </if>
      <if test="jobType != null">
        job_type = #{jobType,jdbcType=BIT},
      </if>
      <if test="endTypeId != null">
        end_type_id = #{endTypeId,jdbcType=BIGINT},
      </if>
      <if test="endTypeName != null">
        end_type_name = #{endTypeName,jdbcType=VARCHAR},
      </if>
      <if test="batchJobStart != null">
        batch_job_start = #{batchJobStart,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hosp.www.dao.entry.SpaceInfo">
    update space_info
    set space_code = #{spaceCode,jdbcType=VARCHAR},
      space_name = #{spaceName,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=VARCHAR},
      won_group = #{wonGroup,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=BIGINT},
      role_name = #{roleName,jdbcType=VARCHAR},
      pro_id = #{proId,jdbcType=BIGINT},
      pro_number = #{proNumber,jdbcType=VARCHAR},
      pro_name = #{proName,jdbcType=VARCHAR},
      struct_id = #{structId,jdbcType=BIGINT},
      struct_number = #{structNumber,jdbcType=VARCHAR},
      struct_name = #{structName,jdbcType=VARCHAR},
      job_type = #{jobType,jdbcType=BIT},
      end_type_id = #{endTypeId,jdbcType=BIGINT},
      end_type_name = #{endTypeName,jdbcType=VARCHAR},
      batch_job_start = #{batchJobStart,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>