<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.hosp.www.dao.mapper.TaskTypeMapper">
  <resultMap id="BaseResultMap" type="cn.com.hosp.www.dao.entry.TaskType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type_number" jdbcType="VARCHAR" property="typeNumber" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="parent_number" jdbcType="VARCHAR" property="parentNumber" />
    <result column="default_dest" jdbcType="BIGINT" property="defaultDest" />
    <result column="trans_time_code_id" jdbcType="BIGINT" property="transTimeCodeId" />
    <result column="grade" jdbcType="BIT" property="grade" />
    <result column="urgent_time" jdbcType="INTEGER" property="urgentTime" />
    <result column="pro_id" jdbcType="BIGINT" property="proId" />
    <result column="pro_number" jdbcType="VARCHAR" property="proNumber" />
    <result column="pro_name" jdbcType="VARCHAR" property="proName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="state" jdbcType="BIT" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_number, type_name, parent_number, default_dest, trans_time_code_id, grade, 
    urgent_time, pro_id, pro_number, pro_name, create_time, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from task_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.com.hosp.www.dao.entry.TaskType">
    insert into task_type (id, type_number, type_name, 
      parent_number, default_dest, trans_time_code_id, 
      grade, urgent_time, pro_id, 
      pro_number, pro_name, create_time, 
      state)
    values (#{id,jdbcType=BIGINT}, #{typeNumber,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{parentNumber,jdbcType=VARCHAR}, #{defaultDest,jdbcType=BIGINT}, #{transTimeCodeId,jdbcType=BIGINT}, 
      #{grade,jdbcType=BIT}, #{urgentTime,jdbcType=INTEGER}, #{proId,jdbcType=BIGINT}, 
      #{proNumber,jdbcType=VARCHAR}, #{proName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hosp.www.dao.entry.TaskType">
    insert into task_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeNumber != null">
        type_number,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="parentNumber != null">
        parent_number,
      </if>
      <if test="defaultDest != null">
        default_dest,
      </if>
      <if test="transTimeCodeId != null">
        trans_time_code_id,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="urgentTime != null">
        urgent_time,
      </if>
      <if test="proId != null">
        pro_id,
      </if>
      <if test="proNumber != null">
        pro_number,
      </if>
      <if test="proName != null">
        pro_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="typeNumber != null">
        #{typeNumber,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="parentNumber != null">
        #{parentNumber,jdbcType=VARCHAR},
      </if>
      <if test="defaultDest != null">
        #{defaultDest,jdbcType=BIGINT},
      </if>
      <if test="transTimeCodeId != null">
        #{transTimeCodeId,jdbcType=BIGINT},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=BIT},
      </if>
      <if test="urgentTime != null">
        #{urgentTime,jdbcType=INTEGER},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=BIGINT},
      </if>
      <if test="proNumber != null">
        #{proNumber,jdbcType=VARCHAR},
      </if>
      <if test="proName != null">
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hosp.www.dao.entry.TaskType">
    update task_type
    <set>
      <if test="typeNumber != null">
        type_number = #{typeNumber,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="parentNumber != null">
        parent_number = #{parentNumber,jdbcType=VARCHAR},
      </if>
      <if test="defaultDest != null">
        default_dest = #{defaultDest,jdbcType=BIGINT},
      </if>
      <if test="transTimeCodeId != null">
        trans_time_code_id = #{transTimeCodeId,jdbcType=BIGINT},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=BIT},
      </if>
      <if test="urgentTime != null">
        urgent_time = #{urgentTime,jdbcType=INTEGER},
      </if>
      <if test="proId != null">
        pro_id = #{proId,jdbcType=BIGINT},
      </if>
      <if test="proNumber != null">
        pro_number = #{proNumber,jdbcType=VARCHAR},
      </if>
      <if test="proName != null">
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hosp.www.dao.entry.TaskType">
    update task_type
    set type_number = #{typeNumber,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      parent_number = #{parentNumber,jdbcType=VARCHAR},
      default_dest = #{defaultDest,jdbcType=BIGINT},
      trans_time_code_id = #{transTimeCodeId,jdbcType=BIGINT},
      grade = #{grade,jdbcType=BIT},
      urgent_time = #{urgentTime,jdbcType=INTEGER},
      pro_id = #{proId,jdbcType=BIGINT},
      pro_number = #{proNumber,jdbcType=VARCHAR},
      pro_name = #{proName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>