<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.hosp.www.dao.mapper.WorkToolsMapper">
  <resultMap id="BaseResultMap" type="cn.com.hosp.www.dao.entry.WorkTools">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tool_code" jdbcType="VARCHAR" property="toolCode" />
    <result column="tool_name" jdbcType="VARCHAR" property="toolName" />
    <result column="pro_id" jdbcType="BIGINT" property="proId" />
    <result column="pro_number" jdbcType="VARCHAR" property="proNumber" />
    <result column="pro_name" jdbcType="VARCHAR" property="proName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tool_code, tool_name, pro_id, pro_number, pro_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from work_tools
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from work_tools
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.com.hosp.www.dao.entry.WorkTools">
    insert into work_tools (id, tool_code, tool_name, 
      pro_id, pro_number, pro_name
      )
    values (#{id,jdbcType=BIGINT}, #{toolCode,jdbcType=VARCHAR}, #{toolName,jdbcType=VARCHAR}, 
      #{proId,jdbcType=BIGINT}, #{proNumber,jdbcType=VARCHAR}, #{proName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hosp.www.dao.entry.WorkTools">
    insert into work_tools
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="toolCode != null">
        tool_code,
      </if>
      <if test="toolName != null">
        tool_name,
      </if>
      <if test="proId != null">
        pro_id,
      </if>
      <if test="proNumber != null">
        pro_number,
      </if>
      <if test="proName != null">
        pro_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="toolCode != null">
        #{toolCode,jdbcType=VARCHAR},
      </if>
      <if test="toolName != null">
        #{toolName,jdbcType=VARCHAR},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=BIGINT},
      </if>
      <if test="proNumber != null">
        #{proNumber,jdbcType=VARCHAR},
      </if>
      <if test="proName != null">
        #{proName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hosp.www.dao.entry.WorkTools">
    update work_tools
    <set>
      <if test="toolCode != null">
        tool_code = #{toolCode,jdbcType=VARCHAR},
      </if>
      <if test="toolName != null">
        tool_name = #{toolName,jdbcType=VARCHAR},
      </if>
      <if test="proId != null">
        pro_id = #{proId,jdbcType=BIGINT},
      </if>
      <if test="proNumber != null">
        pro_number = #{proNumber,jdbcType=VARCHAR},
      </if>
      <if test="proName != null">
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hosp.www.dao.entry.WorkTools">
    update work_tools
    set tool_code = #{toolCode,jdbcType=VARCHAR},
      tool_name = #{toolName,jdbcType=VARCHAR},
      pro_id = #{proId,jdbcType=BIGINT},
      pro_number = #{proNumber,jdbcType=VARCHAR},
      pro_name = #{proName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>