<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>智能后勤管理系统</title>
    <link rel="stylesheet" th:href="@{../bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{../bootstrap/css/bootstrap-grid.min.css}" />
    <link rel="stylesheet" th:href="@{../bootstrap/css/bootstrap-datetimepicker.min.css}" />
    <link rel="stylesheet" th:href="@{../bootstrap/css/index.css}" />
    <script type="text/javascript" th:src="@{../bootstrap/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{../bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{../bootstrap/js/moment-with-locales.min.js}"></script>
    <script type="text/javascript" th:src="@{../bootstrap/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{../bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{../bootstrap/js/server.js}"></script>
</head>
<body>

<div style="margin-top: 2px;">
    <!-- 引入导航数据 -->
    <div th:replace="header::[header_navbar]"></div>

    <div id="first-content" class="tab-content">
        <div style="height: 30px; margin-bottom: 10px; margin-top: -5px;">
            <div class="headerLine"></div>
           <div class="headerLabel">调度任务</div>
            <select style="width: 200px;">
              <option value="0">标准</option>
              <option value="0">标准</option>
              <option value="0">标准</option>
            </select>
           <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">添加运送任务</button>
        </div>
        <div style="clear: both;"></div>
        <div class="row">
            <div class="col-md-11">
                <table class="table table-striped">
                   <thead>
                     <tr>
                        <th>创建时间</th>
                        <th>计划开始时间</th>
                        <th>状态</th>
                        <th>运送员</th>
                        <th>起点</th>
                        <th>终点</th>
                        <th>运送类型</th>
                        <th>病人</th>
                        <th>发起人</th>
                        <th>内容</th>
                        <th>剩余时间</th>
                        <th>应完成</th>
                        <th>延迟原因</th>
                        <th>编辑</th>
                        <th>操作</th>
                     </tr>
                   </thead>
                    <tbody>
                    <tr th:each="info:${data}">
                       <td th:text="${#temporals.format(info.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${#temporals.format(info.planStartTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${info.state}"></td>
                        <td th:text="${info.workerName}"></td>
                        <td th:text="${info.setOutPlaceName}"></td>
                        <td th:text="${info.destinationName}"></td>
                        <td th:text="${info.taskTypeName}"></td>
                        <td ></td>
                        <td th:text="${info.createName}"></td>
                        <td th:text="${info.taskDesc}"></td>
                        <td th:text="${info.finishTime}"></td>
                        <td th:text="${info.finishTime}"></td>
                        <td th:text="${info.delayReason}"></td>
                        <td > 编辑</td>
                        <td >取消|延迟</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1">
                右侧用户信息
            </div>
        </div>
    </div>
    <!--加入运送任务添加窗口-->
   <div th:replace="form/addTask::add_task_dailog"></div>
</div>
<script th:inline="javascript" type="text/javascript">
    $(document).ready(function(){
         $('#submit').click(function(){
             $('#addTaskForm').submit();
         });
    });
</script>
</body>
</html>