<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>智能后勤管理系统</title>
    <link rel="stylesheet" th:href="@{../bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{../bootstrap/css/bootstrap-grid.min.css}" />
    <link rel="stylesheet" th:href="@{../bootstrap/css/bootstrap-datetimepicker.min.css}" />
    <link rel="stylesheet" th:href="@{../bootstrap/css/bootstrap-select.min.css}" />
    <link rel="stylesheet" th:href="@{../bootstrap/css/index.css}" />
    <script type="text/javascript" th:src="@{../bootstrap/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{../bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{../bootstrap/js/moment-with-locales.min.js}"></script>
    <script type="text/javascript" th:src="@{../bootstrap/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{../bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{../datepicker/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" th:src="@{../bootstrap/js/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{../bootstrap/js/jtemplates.js}"></script>
    <script type="text/javascript" th:src="@{../bootstrap/js/server.js}"></script>
    <script type="text/javascript" th:src="@{../bootstrap/js/task.js}"></script>
</head>
<body>

<div style="margin-top: 2px;">
    <!-- 引入导航数据 -->
    <div th:replace="header::[header_navbar]"></div>

    <div id="first-content" class="tab-content">
        <div style="height: 30px; margin-bottom: 10px; margin-top: -5px;">

            <div class="headerLine"></div>
           <div class="headerLabel">调度任务</div>
            <select style="width: 200px;" class="selectpicker" id="task_state_select">
              <option value=""></option>
              <option value="0">未分配</option>
              <option value="1">未查阅</option>
              <option value="2">未开始</option>
              <option value="3">进行中</option>
              <option value="4">未结束</option>
              <option value="5">已完成</option>
              <option value="6">已取消</option>
            </select>
           <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">添加运送任务</button>
            <input type="hidden" id="proId" th:value="${userInfo.proId}"/>
        </div>
        <div style="clear: both;"></div>
        <div class="row">
            <div class="col-md-11">
                <table class="table table-bordered table-hover">
                   <thead>
                     <tr>
                        <th>创建时间</th>
                        <th>计划开始时间</th>
                        <th>状态</th>
                        <th>运送员</th>
                        <th>起点</th>
                        <th>终点</th>
                        <th>运送类型</th>
                        <th>病人</th>
                        <th>发起人</th>
                        <th>内容</th>
                        <th>剩余时间</th>
                        <th>应完成</th>
                        <th>延迟原因</th>
                        <th>编辑</th>
                        <th>操作</th>
                     </tr>
                   </thead>
                    <tbody id="task_list_tbody">
                   <!-- <tr th:each="info:${data}">
                       <td th:text="${#temporals.format(info.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${#temporals.format(info.planStartTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:switch="${info.state}">
                            <span th:case="0">未分配</span>
                            <span th:case="1">未查阅</span>
                            <span th:case="2">未开始</span>
                            <span th:case="3">进行中</span>
                            <span th:case="4">未结束</span>
                            <span th:case="5">已完成</span>
                            <span th:case="6">已取消</span>
                        </td>
                        <td th:text="${info.workerName}"></td>
                        <td th:text="${info.setOutPlaceName}"></td>
                        <td th:text="${info.destinationName}"></td>
                        <td th:text="${info.taskTypeName}"></td>
                        <td ></td>
                        <td th:text="${info.createName}"></td>
                        <td th:text="${info.taskDesc}"></td>
                        <td th:text="${info.finishTime}"></td>
                        <td th:text="${info.finishTime}"></td>
                        <td th:text="${info.delayReason}"></td>
                        <td ><button type="button" th:value="${info.id}" class="btn btn-primary btn-xs">编辑</button></td>
                        <td ><button type="button" th:value="${info.id}" class="btn btn-primary btn-xs task_delay">延迟</button>&nbsp;
                            <button type="button" th:if="${info.state eq 0}"  th:value="${info.id}" class="btn btn-primary btn-xs task_assign">分配</button>&nbsp;
                            <button type="button" th:if="${info.state ne 6}" th:value="${info.id}" class="btn btn-danger btn-xs task_cancel" >取消</button>&nbsp;
                            </td>
                    </tr>-->
                    </tbody>
                    <tfoot>
                       <tr>
                           <td colspan="15" style="text-align: right;" id="task_page">
                               <ul class="pagination pagination-sm">
                                 <li><a href="#">&laquo;</a></li>
                                 <li class="active"><a href="#">1</a></li>
                                 <li><a href="#">2</a></li>
                                 <li><a href="#">3</a></li>
                                 <li><a href="#">&raquo;</a></li>
                               </ul>
                           </td>
                       </tr>

                    </tfoot>
                </table>
            </div>
            <div class="col-md-1" style="height: 500px; width: auto; overflow: hidden;">
                <div th:replace="form/workerlist::worker_list_fragment"></div>
            </div>
        </div>
    </div>
    <!--加入运送任务添加窗口-->
   <div th:replace="form/addTask::add_task_dailog"></div>

    <div>

        <!-- 取消 模态框（Modal） -->
        <div class="modal" id="cancel_task_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog" style="width: 800px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="cancel_task_title">任务取消</h4>
                    </div>
                    <div class="modal-body">
                        <form id="delay_reason_form" role="form" class="form-inline" method="post" onsubmit="">
                            <div class="container">
                                <div class="row">
                                    <div class="form-group addTaskForm col-md-6">
                                        <label for="cancel_task" id="cancel_task_label" class="control-label text-right text-nowrap col-md-4">取消原因：</label>
                                        <select id="cancel_task" style="width: 200px;" class="form-control col-md-8">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer align-content-center">
                        <input type="hidden" id="delay_reason_id"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" id="cancel_task_submit" class="btn btn-primary">提交更改</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
       </div>

    </div>

    <textarea id="task_list_template" style="display: none;">
        {#foreach $T as rec}
        <tr>
            <td>{$T.rec.createTime}</td>
            <td>{$T.rec.planStartTime}</td>
            <td>
               {convertTaskState($T.rec.state)}
            </td>
            <td >{$T.rec.workerName}</td>
            <td>{$T.rec.setOutPlaceName}</td>
            <td >{$T.rec.destinationName}</td>
            <td >{$T.rec.taskTypeName}</td>
            <td >
                {#if $T.rec.bedNumber != null && $T.rec.bedNumber != 'null'}
                 床号: {$T.rec.bedNumber}
                {#/if}
            </td>
            <td >{$T.rec.createName}</td>
            <td >{$T.rec.taskDesc}</td>
            <td >{dateCalculation($T.rec)}</td>
            <td >{$T.rec.finishTime}</td>
            <td >{$T.rec.delayReason}</td>
            <td ><button type="button" value="{$T.rec.id}" class="btn btn-primary btn-xs task_edit">编辑</button></td>
            <td ><button type="button" value="{$T.rec.id}" class="btn btn-primary btn-xs task_delay">延迟</button>&nbsp;
                {#if $T.rec.state == 0}
                  <button type="button" value="{$T.rec.id}" class="btn btn-primary btn-xs task_assign">分配</button>&nbsp;
                {#/if}
                {#if $T.rec.state != 6}
                   <button type="button" value="{$T.rec.id}" class="btn btn-danger btn-xs task_cancel" >取消</button>&nbsp;
                {#/if}
            </td>
        </tr>
       {#/for}
    </textarea>

</div>
<script type="text/javascript">

</script>
</body>
</html>